.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: linear-gradient(135deg, #00264d, #0066cc);;
  color: #fff;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  margin-right: 10px;
}

.company-name {
  font-size: 2rem;
}

.button-group button {
  margin: 0 10px;
  padding: 20px;
  cursor: pointer;
  background-color: #444;
  border: none;
  color: white;
}

button:hover {
  background-color: #555;
}

h2 {
  margin-bottom: 10px;
}


input[type="file"], textarea {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 400px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
}

textarea {
  resize: none;
}


.feedback-container {
  margin-top: 20px;
}

.feedback-container ul {
  list-style-type: none;
  padding: 0;
}

.feedback-container li {
  margin-bottom: 10px;
}
